@charset "UTF-8";

/* Paleta de cores */

:root {
    --cor-principal: #FACC00;
    --cor-secundaria: #F5E300;
    --cor-terciaria: #FAAD00;
    --cor-texto: #000000;
    --cor-texto-destaque: #ffffff;
    --cor-texto-desfoque: #F5EB62;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--cor-principal);
    width: 100vw;
    height: 100vh;
}

main {
    /* Como centralizar no método tradicional (antigo), antes das novas tecnologias (flexbox) */
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    /* Como centralizar no método tradicional (antigo), antes das novas tecnologias (flexbox) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 280px;
    height: 560px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    height: 200px;
    background: url(../img/wheat-field.jpg) no-repeat left bottom / cover;
}

section#login > div#form {
    display: block;
    padding: 20px;
}

div#form > h1 {
    margin: 10px 0 20px 0;
    text-align: center;
}

div#form > p {
    margin-bottom: 20px;
    text-align: center;
}

form > div.campo {
    margin: 10px 0;
}

form > div.campo span {
    padding: 10px;
    width: 48px;
    height: 48px;
    align-content: center;
    text-align: center;
    border-width: 1px 4px 4px 1px;
    border-style: solid;
    border-color: black;
    background-color: #F5E300;
}

form > div.campo > input {
    padding: 12px 24px;
    width: calc(100% - 54px);
    height: 48px;
    font-size: 1em;
    border: 1px solid var(--cor-texto);
    border-radius: 0;

    transform: translateY(-6px);
}

form > a.botao {
    display: block;
    margin: 12px 0 20px 0;
    text-align: left;
    text-decoration: none;
    color: var(--cor-texto);
}

form > a.botao:hover {
    text-decoration: underline;
}

form > input[type=submit] {
    padding: 8px 16px;
    display: inline-block;
    width: calc(50% - 4px);
    font-size: 1em;
    border-width: 1px 4px 4px 1px;
    border-style: solid;
    border-color: black;
    background-color: var(--cor-secundaria);
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor-texto-desfoque);
}